<a href="https://colab.research.google.com/github/kterra/idp-mba-jdados/blob/main/notebooks/P2_Processamento_de_dados_PNAD_Excel_para_Json_com_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Processamento de dados PNAD

Fonte dos dados: https://sidra.ibge.gov.br/tabela/7526#resultado

In [ ]:
import pandas as pd
import json

In [ ]:
#substitua esse caminho pelo caminho do arquivo no seu Drive
PNAD_FILE_PATH ='/content/drive/MyDrive/Colab Datasets/Tabela-7526-2020.xlsx'

In [ ]:
pnad_renda_2020 = pd.read_excel(PNAD_FILE_PATH , skiprows=[0,1,2,3,17])

In [ ]:
pnad_renda_2020

    from  lowerLimit
0      5         146
1     10         252
2     20         396
3     30         527
4     40         673
5     50         836
6     60        1035
7     70        1263
8     80        1682
9     90        2646
10    95        4082
11    99        9832

In [ ]:
pnad_renda_2020.columns = ['from','lowerLimit']
pnad_renda_2020['from'] = pnad_renda_2020['from'].str[1:].astype('int')

In [ ]:
pnad_renda_2020_to = pnad_renda_2020['from'].shift(-1, fill_value=100).astype('int')

pnad_renda_2020.insert(1, 'to', pnad_renda_2020_to)

In [ ]:
pnad_renda_2020

    from   to  lowerLimit
0      5   10         146
1     10   20         252
2     20   30         396
3     30   40         527
4     40   50         673
5     50   60         836
6     60   70        1035
7     70   80        1263
8     80   90        1682
9     90   95        2646
10    95   99        4082
11    99  100        9832

In [ ]:
result = pnad_renda_2020.to_json(orient='records')
parsed = json.loads(result)
json_object = json.dumps(parsed, indent=4)

In [ ]:
with open("pnad-renda-2020.json", "w") as outfile:
    outfile.write(json_object)

In [ ]:
print(json_object)

[
    {
        "from": 5,
        "to": 10,
        "lowerLimit": 146
    },
    {
        "from": 10,
        "to": 20,
        "lowerLimit": 252
    },
    {
        "from": 20,
        "to": 30,
        "lowerLimit": 396
    },
    {
        "from": 30,
        "to": 40,
        "lowerLimit": 527
    },
    {
        "from": 40,
        "to": 50,
        "lowerLimit": 673
    },
    {
        "from": 50,
        "to": 60,
        "lowerLimit": 836
    },
    {
        "from": 60,
        "to": 70,
        "lowerLimit": 1035
    },
    {
        "from": 70,
        "to": 80,
        "lowerLimit": 1263
    },
    {
        "from": 80,
        "to": 90,
        "lowerLimit": 1682
    },
    {
        "from": 90,
        "to": 95,
        "lowerLimit": 2646
    },
    {
        "from": 95,
        "to": 99,
        "lowerLimit": 4082
    },
    {
        "from": 99,
        "to": 100,
        "lowerLimit": 9832
    }
]